atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
chardet==3.0.4
colorama==0.4.4
dnspython==1.16.0
idna==2.10
iniconfig==1.1.1
Menus-Scrapping-Tool @ file:///C:/Users/RAMON/OneDrive/Escritorio/Borja%20Moll/Proyecto/Poni%26Perro/scrapper/Web-Scrapping-Package/Menus_Scrapping_Tool-0.0.1-py3-none-any.whl
packaging==21.3
pluggy==0.13.1
py==1.11.0
pymongo==3.11.2
pyparsing==3.0.6
pytest==6.1.2
requests==2.25.0
Scrapper @ file:///C:/Users/RAMON/OneDrive/Escritorio/Borja%20Moll/Proyecto/Proyecto/Menus_Scrapping_Tool-0.0.1-py3-none-any.whl/proyecto_dual/Scrapper-0.0.1-py3-none-any.whl
toml==0.10.2
urllib3==1.26.7